    {# References the index page. This grabs data from craft to be used in index page #}
    {% extends "index" %}

    {% block titleSection %}

        {% set home = craft.entries.section("home").one() %}

        {{ home.condoTitle }}

    {% endblock titleSection %}

    {% block headerImage %}

        {% set home = craft.entries.section("home").one() %}

        {% set image = entry.landingImage.first() %}
                <img Id="headerImage" src='{{image.getUrl()}}' />    
        {% endblock %}

        {% block headerLandingContent %}

            {% set home = craft.entries.section("home").one() %}

            {{ home.condoShortDescription }}

            {{ home.addressLabel }}

        {% endblock headerLandingContent %}

        {% block landingVideo %}

            {% set home = craft.entries.section("home").one() %}

            {{ home.landingVideo }}
            
        {% endblock landingVideo %}

        {% block imageUnderHeader %}

            {% set home = craft.entries.section("home").one() %}

            {% set image = home.imageUnderHeader.first() %}
                    <img src='{{image.getUrl()}}' />

    {% endblock %}

    {% block featuredImageGallery %}

        {% set home = craft.entries.section("home").one() %}

        {% set images = home.galleryItem.all() %}

        {% if images | length %}

            {% for item in images|slice(0, 5) %}

                {% js %}
                console.log('New feature Image');
                {% endjs %}

                {% set query = item.galleryImage.one() %}
                {% if loop.index == 1 %}
                    <div class="gal1">
                            <img src="{{ query.getURL() }}" onclick="openModal()" alt="image">
                    </div>
                {% elseif loop.index == 2 %}
                    <div class="gal2">
                            <img src="{{ query.getURL() }}" onclick="openModal()" alt="image">
                    </div>  
                {% elseif loop.index == 3 %}
                    <div class="gal3" id="modal-btn">
                            <img src="{{ query.getURL() }}" onclick="openModal()" alt="image">
                    </div> 
                {% elseif loop.index == 4 %}
                    <div class="gal4" id="modal-btn">
                            <img src="{{ query.getURL() }}" onclick="openModal()" alt="image">
                    </div>   
                {% elseif  loop.index == 5 %}
                    <div class="gal5" id="modal-btn">
                            <img src="{{ query.getURL() }}" onclick="openModal()" alt="image">
                    </div> 
                {% endif %}
            {% endfor %}
        {% endif %}

    {% endblock %}

    {# Image Gallery #}

    {% block imageGallery %}

        {% set home = craft.entries.section("home").one() %}

        {% set images = home.galleryItem.all() %}

        {% if images | length %}

            {% for item in images|batch(2) %}
                <div class="row">
                {% set index = loop.index %}
                    {% for img in item %}
                        {% set query = img.galleryImage.one() %}
                        {% set res = index * 2 %}
                        {% if loop.index is divisible by(2) == false %}
                            {% set res = res - 1 %}
                        {% endif %}
                        <img class="galleryImage column" src="{{ query.getURL() }}" onclick="currentSlide({{res}})" alt="image">
                    {% endfor %}
                </div>
            {% endfor %}

        {% endif %}

    {% endblock %}

    {% block imageSlideShow %}

        {% set home = craft.entries.section("home").one() %}

        {% set images = home.galleryItem.all() %}

        {% if images | length %}

            {% for item in images %}
                <div class="gallerySlides fade">
                        {% set query = item.galleryImage.one() %}
                        <img class="slideShowImage" src="{{ query.getURL() }}" alt="image">
                </div>
            {% endfor %}

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        {% endif %}

    {% endblock %}

    {% block cards %}

        {% set home = craft.entries.section("home").one() %}

        {% set interests = home.shortInterest.all() %}

        {% if interests | length %}
            {% js %}
            console.log('We have interests');
            {% endjs %}
            {% for item in interests %}
                {% set intName = item.interestName %}
                {% set intIcon = item.interestIcon %}
                {% set intDescription = item.interestDescription %}

                <div class="tableFeatureCard">
                    <div class="featureCardIcon">
                        <span class="iconStyle">
                        <i class="{{ intIcon }}"></i>
                    </span>
                    </div>
                    <div class="featureCardHeader">
                        {{ intName }}
                    </div>
                    <div>
                        {{ intDescription }}
                    </div>
                </div>
            {% endfor %}
        {% endif %} 

    {% endblock %}

    {% block secondaryCards %}
        {% set home = craft.entries.section("home").one() %}
        {% set amenities = home.amenitiesList.all() %}

        {% if amenities | length %}

        {% for item in amenities %}
            <div class="secondaryCard">
                <span class="secondaryCardIcon">
                    <i class="{{ item.icon }}"></i>
                </span>
                <div class="secondaryCardText">
                    {{ item.text }}
                </div>
            </div>
        {% endfor %}

        {% endif %}

    {% endblock %}

    {% block featuredInfoSection %}

        {% set home = craft.entries.section("home").one() %}

        {% set features = home.featuredInformation.all() %}

        {% if features | length %}
            {% for item in features %}
                {% set fetTitle = item.featureTitle %}
                {% set fetContent = item.featureContent %}
                {% set fetImage = item.featureImage.one() %}

                {% js %}
                console.log('We have interests');
                {% endjs %}

                {% if loop.index is divisible by(2) == false %}
                <div class="featureRow">
                    <div class="column">
                        <img src="{{ fetImage.getURL() }}" class="entImage"></img>
                    </div>
                    <div class="column">
                        <div class="tableContainerCard">
                            <div class="tableCardSubtite">
                                <strong>{{ fetTitle }}</strong>
                            </div>
                            <div class="tableCardContent">
                                <p>{{ fetContent }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="alternateFeatureRow">
                    <div class="column">
                        <img src="{{ fetImage.getURL() }}" class="entImage"></img>
                    </div>
                    <div class="column">
                        <div class="tableCardHeader">
                            <strong>{{ fetTitle }}</strong>
                        </div>
                        <div class="tableCardContent">
                            <p>{{ fetContent }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% endblock %}
