<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteName }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="{{ siteUrl }}/assets/style.css">
    <script src="https://kit.fontawesome.com/10519c6a79.js" crossorigin="anonymous"></script>
    <script src="{{ siteUrl }}/assets/script.js"></script>

</head>
<body>
    {# Classic HTML & CSS page. Can use twig language throughout and reference blocs #}
    <header class="header">
        <nav class="nav" id="navId">
            <div class="homePageTitle" id="homeTitleId"> 
                {% block titleSection %}
                {% endblock %}
            </div>
            <div class="rightNav" id="rightNavId">
                {% set slug = craft.app.request.getSegment(1)%}
                {% for link in header.navigation.all() %}
                    {% set destination = link.linkDestination.one() %}
                    <a href="{{ destination.url }}" id="navLinkId" class="nav-link {% if slug == destination.slug %}nav-link--active{% endif %}">{{ link.linkText }}</a>
                {% endfor %}
            </div>
            <button class="menuBtn" type="button" onclick="location.href='https://airbnb.com';"><p class="buttonText">Book Now</p></button>
        </nav>
    </header>
    {# Templates Inserted here #}
    {# Condo Description under landing header#}
    <div class="mainContent">
        <div id="headerContainer">
        {% block headerImage %}
        {% endblock %}
            <div class="headerDescription">
                {% block headerLandingContent %}
                {% endblock %}
            <button class="btn" type="button" onclick="location.href='https://airbnb.com';"><p class="buttonText">Book Now</p></button>
            </div>
        </div>
        <div class="descriptionUnderHeader">
                {% block imageUnderHeader %}
                {% endblock %}
        </div>

        <div class="grid4x2">

            {% block cardsFirstSet %}
            {% endblock %}

            <div class="videoSection">
            <iframe width="600" height="450" src="https://www.youtube.com/embed/lCpySDmGVEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {# {% block landingVideo %}
            {% endblock %} #}
        </div> 

            {% block cardsSecondSet %}
            {% endblock %}

        </div>

        <div class="grid6x2">
            {% block featuredImageGallery %}
            {% endblock %}
        </div>
    </div>

    <div class="modal">
        <div class="modal-content galleryContainer">

            {% block imageGallery %}
            {% endblock %}
        </div>
    </div>

    <div class="slideShowModal">
        <div class="modal-content galleryContainer">
            {% block imageSlideShow %}
            {% endblock %}
        </div>
    </div>

    {# <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.553024025635!2d-86.17087264970972!3d39.929017892980205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8814aca58d80e79f%3A0x9c795ad9bf120737!2s9671%20Copley%20Dr%2C%20Indianapolis%2C%20IN%2046290!5e0!3m2!1sen!2sus!4v1641960759604!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div> #}
    
    {# <footer class="footer">
        {{ footer.richText }}
    </footer> #}

    <script src="{{ siteUrl }}assets/script.js"></script>
    
</body>
</html>