<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteName }}</title>
    {# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"> #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ siteUrl }}/assets/style.css">
    <script src="https://kit.fontawesome.com/10519c6a79.js" crossorigin="anonymous"></script>
    <script src="{{ siteUrl }}/assets/script.js"></script>
    <script type="text/javascript" src="https://platform.hostfully.com/assets/js/pikaday.js"></script>
    <script type="text/javascript" src="https://platform.hostfully.com/assets/widgets/searchwidget/searchwidget.js"></script>
</head>
<body>
    {# Classic HTML & CSS page. Can use twig language throughout and reference blocs #}
    <header class="header">
        <nav class="nav" id="navId">
            <div class="homePageTitle" id="homeTitleId"> 
                {% block titleSection %}
                {% endblock %}
            </div>
            <div class="rightNav" id="rightNavId">
                {% set slug = craft.app.request.getSegment(1)%}
                {% for link in header.navigation.all() %}
                    {% set destination = link.linkDestination.one() %}
                    <a href="#{{ link.linkText }}" id="navLinkId" class="nav-link {% if slug == destination.slug %}nav-link--active{% endif %}">{{ link.linkText }}</a>
                {% endfor %}
            </div>
            <button class="menuBtn" type="button" onclick="location.href='https://platform.hostfully.com/vacation-rental-property-v2/50427/bright%2C-new-construction-home-in-nulu';"><p class="buttonText">Book Now</p></button>
        </nav>
    </header>
    {# Templates Inserted here #}
    {# Condo Description under landing header#}
    <div class="mainContent">
        <div id="headerContainer">
        {% block headerImage %}
        {% endblock %}
            <div class="headerDescription">
                <div class="headerText">
                {% block headerLandingContent %}
                {% endblock %}
                </div>
            <button class="btn" type="button" onclick="location.href='https://platform.hostfully.com/vacation-rental-property-v2/50427/bright%2C-new-construction-home-in-nulu';"><p class="buttonText">Book Now</p></button>
            <div id="searchwidget" ></div>
            </div>
        </div>
        <div class="descriptionUnderHeader">
            <p class="strongDescriptionHeader">Enjoy walkable NULU stores, bars & restaurants. Centrally-located between Downtown & Highlands.</p> </br>
            <p class="strongDescriptionHeader">Enjoy walkable NULU stores, bars & restaurants. Centrally-located between Downtown & Highlands.</p> </br>
        </div>

        <div class="grid4x2" id="Photos">
            {% block featuredImageGallery %}
            {% endblock %}
        </div>

        <div class="flexibleGrid6x2">
            <div class="gridHeaderLeft">
                <strong>Where you'll sleep</strong>
            </div>
            <div class="gridHeaderRight">
                <strong>What we offer</strong>
            </div>
            <div class="gridFeatureLeft">
                <div class="featureCardsFlex">
                    {% block cards %}
                    {% endblock %}
                </div>
            </div>
            <div class="gridFeatureRight">
                <div class="featureSecondaryCardsFlex">
                    {% block secondaryCards %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="tableContainer" id="Experiences">

            <div class="tableCardHeader" id="Dining">
                <strong>Around The Community</strong>
            </div>

            {% block featuredInfoSection %}
            {% endblock %}

        </div>

        <div class="footer tableContainter">
            <div class="row featureRow">
                <div class=" column footerAddressColumn">
                    <div class="footerCardHeader">
                        <strong>Paddock 317</strong>
                    </div>
                    <div class="tableCardContent">
                        <p>317 South Wenzel Street</p>
                        <p>Louisville, KY</p>
                        <button onclick="location.href='https://platform.hostfully.com/vacation-rental-property-v2/50427/bright%2C-new-construction-home-in-nulu';" class="footerBtn">Book Now</button>
                        {# {{ footer.richText }} #}
                    </div>
                </div>
                <div class="column footerAddressColumn">
                    <iframe class="footerMapEmbedd" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3133.2494821956257!2d-85.73630394954878!3d38.25051949231892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886972da905cfba3%3A0xb401cffb518e9c51!2s317%20S%20Wenzel%20St%2C%20Louisville%2C%20KY%2040204!5e0!3m2!1sen!2sus!4v1646008478302!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-content tableContainer">
            <i class="fas fa-xmark actionButton" onclick="closeModal()"></i>
            {% block imageGallery %}
            {% endblock %}
        </div>
    </div>

    <div class="slideShowModal">
        <div class="modal-content tableContainer">
            <i class="fas fa-xmark actionButton" onclick="closeSlideShow()"></i>
            {% block imageSlideShow %}
            {% endblock %}
        </div>
    </div>

    <script src="{{ siteUrl }}assets/script.js">
    
    </script>

    <script>
        var searchwidget = new SearchWidget('searchwidget', 'https://platform.hostfully.com//vacation-rental-properties-v2/paddock-317', {"lang":"US","fields":["checkIn","checkOut","guests"],"maximumGuests":30,"daysBetweenDates":7,"openInNewTab":false,"backgroundColorButton":"#FFFFFF","colorButton":"#000000","uid":"4b0d1398-3852-4bea-8b02-4cfc42b83959"});    
    </script>
</body>
</html>