<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteName }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bentham&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ siteUrl }}/assets/style.css">
</head>
<body>
    {# Classic HTML & CSS page. Can use twig language throughout and reference blocs #}
    <header class="header">
        <div class="headerImage">
            <img src="{{ siteUrl }}assets/Images/HeaderImage.jpg" alt="Louisville Skyline">
        </div>

        <nav class="nav">
            <div class="homePageTitle"> 
                {% block titleSection %}
                {% endblock %}
            </div>
            <div id="rightNav">
                {% set slug = craft.app.request.getSegment(1)%}
                {% for link in header.navigation.all() %}
                    {% set destination = link.linkDestination.one() %}

                    <a href="{{ destination.url }}" class="nav-link {% if slug == destination.slug %}nav-link--active{% endif %}">{{ link.linkText }}</a>
                {% endfor %}
            </div>
        </nav>
        <div class="headerDescription">
                {% block headerLandingContent %}
                {% endblock %}
        <div class="button">
        {# redo buttons #}
            <a href="https://www.airbnb.com/"><p class="buttonText">Book Now</p>
        </a>
        </div>
    </div>
    </header>
    {# Templates Inserted here #}
    {# Condo Description under landing header#}
    <div>
        <div class="descriptionUnderHeader">
            <p>3RD FLOOR CONDO #312</p>
            <p>BEACH FRONT, PORT ARANSAS CONDO RENTAL</p>
            <p>720 ACCESS ROAD 1-A PORT ARANSAS, TX 78373</p>
        </div>

        <div class="grid2x2">
            <div class="card">
                <p>icon</p>
                <p>8 Guests</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="card">
                <p>icon</p>
                <p>8 Guests</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="card">
                <p>icon</p>
                <p>8 Guests</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="card">
                <p>icon</p>
                <p>8 Guests</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>  
    </div>

    {# <footer class="footer">
        {{ footer.richText }}
    </footer> #}

    <script src="{{ siteUrl }}assets/script.js"></script>
    
</body>
</html>