<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteName }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="{{ siteUrl }}/assets/style.css">
    <script src="https://kit.fontawesome.com/10519c6a79.js" crossorigin="anonymous"></script>
    <script src="{{ siteUrl }}/assets/script.js"></script>

</head>
<body>
    {# Classic HTML & CSS page. Can use twig language throughout and reference blocs #}
    <header class="header">
        <nav class="nav" id="navId">
            <div class="homePageTitle" id="homeTitleId"> 
                {% block titleSection %}
                {% endblock %}
            </div>
            <div class="rightNav" id="rightNavId">
                {% set slug = craft.app.request.getSegment(1)%}
                {% for link in header.navigation.all() %}
                    {% set destination = link.linkDestination.one() %}
                    <a href="{{ destination.url }}" id="navLinkId" class="nav-link {% if slug == destination.slug %}nav-link--active{% endif %}">{{ link.linkText }}</a>
                {% endfor %}
            </div>
        </nav>
    </header>
    {# Templates Inserted here #}
    {# Condo Description under landing header#}
    <div class="mainContent">
        <div id="headerImage">
        {% block headerImage %}
        {% endblock %}
            <div class="headerDescription">
                {% block headerLandingContent %}
                {% endblock %}
            <button class="btn" type="button" onclick="location.href='https://airbnb.com';"><p class="buttonText">Book Now</p></button>
            </div>
        </div>
        <div class="descriptionUnderHeader">
                {% block imageUnderHeader %}
                {% endblock %}
            {# <p>3RD FLOOR CONDO #312</p>
            <p>BEACH FRONT, PORT ARANSAS CONDO RENTAL</p>
            <p>720 ACCESS ROAD 1-A PORT ARANSAS, TX 78373</p> #}
        </div>

        <div class="grid4x2">
            <div class="card1">
                <span class="iconStyle">
                    <i class="fas fa-users"></i>
                </span>
                </br>
                <strong>8 Guests</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="card2">
                <span class="iconStyle">                
                    <i class="fas fa-home"></i>
                </span>
                </br>
                <strong>Kitchen</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="videoSection">
            <iframe width="600" height="450" src="https://www.youtube.com/embed/lCpySDmGVEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {# {% block landingVideo %}
            {% endblock %} #}
        </div> 

            <div class="card3">
                <span class="iconStyle">
                    <i class="fas fa-sun"></i>
                </span>
                </br>
                <strong>Patio Area</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="card4">
                <span class="iconStyle"> 
                    <i class="fas fa-utensils"></i>
                </span>
                </br>
                <strong>Dining</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div> 
    
    {# <footer class="footer">
        {{ footer.richText }}
    </footer> #}

    <script src="{{ siteUrl }}assets/script.js"></script>
    
</body>
</html>


{# // window.onscroll = function() {
//     if ( window.pageYOffset > 1 ) {
//         console.log("hit");
 
//         var cols = document.getElementsByClassName('nav');
//         for(i = 0; i < cols.length; i++) {
//             cols[i].style.backgroundColor = 'blue';
//         }
//     } else {
//         console.log("not hit");
//         //nav.classList.remove("navbar1");
//         var cols = document.getElementsByClassName('nav');
//         for(i = 0; i < cols.length; i++) {
//             cols[i].style.backgroundColor = 'transparent';
//         }
//     }
// } #}